<p class="notice">
  <%= flash[:notice] %>
</p>
<!--本の一覧-->
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>title</th>
      <th>body</th>
      <th></th>
    </tr>
  </thead>
    
    <tbody>
      <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
          <td>
            <%= link_to 'Show',"/books/#{book.id}" %>
          </td>
          <td>
            <%= link_to 'Edit',"books/#{book.id}/edit" %>
          </td>
          <td>
            <%= link_to 'Destroy',book_path(book.id),method: :delete, "data-confirm" => "Are you sure？" %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
      
      
      
      
  
  
<h2>New book</h2>
<!--エラーメッセージ-->
<div class="errors-message">
  
  <% if @book.errors.any? %>
    <h2>
      <%= @book.errors.count %> errors prohibited this book from being saved:
    </h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<!--投稿機能-->
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>
	<h4>body</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>
    

